.inmap-wrap {
  position: relative;
  width: 100%;
  min-height: 160px;
  min-width: 160px;
  overflow: hidden;
  z-index: 1000;
  border: 1px solid #ddd;
}
@media screen and (min-width: 481px) {
  .inmap-wrap {
    max-height: 320px;
  }
}
@media screen and (min-width: 641px) {
  .inmap-wrap {
    max-height: 480px;
  }
}
@media screen and (min-width: 961px) {
  .inmap-wrap {
    max-height: 500px;
  }
}
.inmap-wrap .inmap-map,
.inmap-wrap .inmap-info {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  height: 50%;
  overflow: hidden;
}
@media screen and (min-width: 481px) {
  .inmap-wrap .inmap-map,
  .inmap-wrap .inmap-info {
    width: 50%;
    height: 100%;
    min-height: 320px;
  }
}
@media screen and (min-width: 641px) {
  .inmap-wrap .inmap-map,
  .inmap-wrap .inmap-info {
    min-height: 480px;
  }
}
@media screen and (min-width: 961px) {
  .inmap-wrap .inmap-map,
  .inmap-wrap .inmap-info {
    min-height: 500px;
  }
}
@media screen and (min-width: 481px) {
  .inmap-wrap .inmap-map.inmap-map,
  .inmap-wrap .inmap-info.inmap-map {
    float: left;
  }
}
@media screen and (min-width: 1025px) {
  .inmap-wrap .inmap-map.inmap-map,
  .inmap-wrap .inmap-info.inmap-map {
    width: 60%;
    min-height: 500px;
  }
}
.inmap-wrap .inmap-map.inmap-info,
.inmap-wrap .inmap-info.inmap-info {
  overflow: scroll;
}
@media screen and (min-width: 1025px) {
  .inmap-wrap .inmap-map.inmap-info,
  .inmap-wrap .inmap-info.inmap-info {
    width: 40%;
  }
}
.inmap-wrap .inmap-icon {
  margin-left: 0;
  margin-top: 0;
  background-color: #dd9933;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(../img/location.svg);
}
.inmap-wrap .inmap-icon.inmap-icon-gps {
  mask-image: url(../img/location-gps.svg);
}
.inmap-wrap .inmap-icon.inmap-icon-message {
  z-index: 1100;
  mask-image: url(../img/message.svg);
}
.inmap-wrap .inmap-map * {
  box-sizing: unset;
}
.inmap-wrap .inmap-map .inmap-marker {
  width: 5px !important;
  height: 5px !important;
  margin-left: -2.5px !important;
  margin-top: -2.5px !important;
  background: #dd9933;
  text-align: center;
  border-radius: 50%;
}
.inmap-wrap .inmap-map .inmap-marker .inmap-icon {
  display: none;
}
.inmap-wrap .inmap-map .inmap-marker .inmap-icon.inmap-icon-message {
  display: block;
}
.inmap-wrap .inmap-map .inmap-marker.inmap-icon-message,
.inmap-wrap .inmap-map .inmap-marker.inmap-hover,
.inmap-wrap .inmap-map .inmap-marker.inmap-active {
  z-index: 2000 !important;
  width: 15px !important;
  height: 15px !important;
  margin-left: -7.5px !important;
  margin-top: -7.5px !important;
  background: #fff;
  border: 1px solid #dd9933;
}
.inmap-wrap .inmap-map .inmap-marker.inmap-icon-message .inmap-icon,
.inmap-wrap .inmap-map .inmap-marker.inmap-hover .inmap-icon,
.inmap-wrap .inmap-map .inmap-marker.inmap-active .inmap-icon {
  display: inline-block;
  width: 100%;
  height: inherit;
  mask-size: 12px;
  background: #dd9933;
}
.inmap-wrap .inmap-map .inmap-marker.inmap-icon-message .inmap-icon.inmap-icon-message,
.inmap-wrap .inmap-map .inmap-marker.inmap-hover .inmap-icon.inmap-icon-message,
.inmap-wrap .inmap-map .inmap-marker.inmap-active .inmap-icon.inmap-icon-message {
  mask-size: 8px;
}
.inmap-wrap .inmap-info {
  position: initial;
  background: #fff;
}
.inmap-wrap .inmap-info:nth-child(odd) {
  background-color: #f7f7f7;
}
.inmap-wrap .inmap-info .inmap-info-item {
  position: relative;
  max-height: 35px;
  overflow: hidden;
  padding: 0;
  padding-left: 0;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active {
  overflow: scroll;
  max-height: 320px;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-demo .inmap-info-desc .inmap-info-title::before {
  content: '[Demo] ';
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  mask-size: 20px;
  top: 7.5px;
  left: 7.5px;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc {
  padding: 8px;
  padding-left: 15px;
  overflow: scroll;
  margin-left: 17px;
  border-left: 1px solid #dd9933;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc .inmap-info-title span {
  float: right;
  color: #ddd;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc .inmap-info-expand {
  display: none;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc .inmap-info-title {
  font-weight: bold;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc table tr {
  display: none;
  background: none;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc table tr.joe-assoc_array-id {
  display: none !important;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc table tr th {
  max-width: 80px;
}
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc table tr th,
.inmap-wrap .inmap-info .inmap-info-item .inmap-info-desc table tr td {
  vertical-align: top;
  text-align: left;
  font-size: 12px !important;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active {
  cursor: unset;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active .inmap-icon {
  background: #dd9933;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active .inmap-info-desc .inmap-info-title {
  border-bottom: 1px solid #dd9933;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active .inmap-info-desc table tr {
  display: table-row;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active .inmap-info-desc table tr th,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active .inmap-info-desc table tr td {
  padding: 5px 0;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended {
  cursor: pointer;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc .inmap-info-expand {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #dd9933;
  background: #f7f7f7;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr th {
  width: 80px;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr th,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr td {
  padding: 3px 5px !important;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-latitude,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-longitude,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-event,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-elevation,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-velocity,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-valid_gps_fix,
.inmap-wrap .inmap-info .inmap-info-item.inmap-active.inmap-hide-extended .inmap-info-desc tr.joe-assoc_array-time_utc {
  display: none !important;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-last {
  position: absolute;
  top: 0;
  z-index: 2000;
  background-color: #dd9933;
  color: #fff;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-last .inmap-icon {
  background-color: #fff !important;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-last .inmap-info-desc {
  padding-right: 7px;
  border-color: #fff;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-last .inmap-info-desc .inmap-info-title {
  font-size: 13px;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-last .inmap-info-desc .inmap-info-title span {
  color: #fff !important;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-last .inmap-info-desc table * {
  color: #fff;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active,
.inmap-wrap .inmap-info .inmap-info-item.inmap-hover {
  background-color: #ddd;
  cursor: pointer;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active .inmap-info-title span,
.inmap-wrap .inmap-info .inmap-info-item.inmap-hover .inmap-info-title span {
  color: #fff !important;
}
