.inmap-wrap {
  position: relative;
  border: 1px solid blue;
}
.inmap-wrap .inmap-map {
  position: relative;
  min-height: 500px;
  width: 66.66%;
  border: 1px solid #ddd;
}
.inmap-wrap .inmap-map .inmap-point {
  text-align: center;
  border-radius: 50%;
  background: #d93;
}
.inmap-wrap .inmap-map .inmap-point span {
  display: inline-block;
  vertical-align: middle;
}
.inmap-wrap .inmap-map .inmap-point.inmap-icon-message,
.inmap-wrap .inmap-map .inmap-point.inmap-hover,
.inmap-wrap .inmap-map .inmap-point.inmap-active {
  z-index: 1000 !important;
}
.inmap-wrap .inmap-map .inmap-point.inmap-hover,
.inmap-wrap .inmap-map .inmap-point.inmap-active {
  padding: 5px;
  background: #fff;
  border: 2px solid #d93;
}
.inmap-wrap .inmap-map .inmap-point.inmap-icon-custom,
.inmap-wrap .inmap-map .inmap-point.inmap-icon-quick {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  background: #fff;
  border: 2px solid #d93;
}
.inmap-wrap .inmap-map .inmap-point.inmap-icon-custom {
  border-color: blue !important;
  z-index: 2000 !important;
}
.inmap-wrap .inmap-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.33%;
  height: 100%;
  background: #fff;
  z-index: 1000 !important;
  border-left: 1px solid #ddd;
  overflow: scroll;
}
.inmap-wrap .inmap-info .inmap-info-item {
  padding-left: 15px;
  font-size: 13px;
  background-color: #fff;
  background-image: url(../img/location.svg);
  background-size: 15px;
  background-position-x: 8px;
  background-position-y: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ddd;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-hide-extended .inmap-info-extended {
  display: none;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-valid-gps {
  background-image: url(../img/location-gps.svg);
}
.inmap-wrap .inmap-info .inmap-info-item table {
  border-left: 1px solid #d93;
}
.inmap-wrap .inmap-info .inmap-info-item table tr {
  padding-left: 15px;
  display: none;
  background: none;
}
.inmap-wrap .inmap-info .inmap-info-item table tr.joe-assoc_array-time {
  display: table-row;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-hover {
  background-color: #f7f7f7;
}
.inmap-wrap .inmap-info .inmap-info-item.inmap-active tr {
  display: table-row;
}
