@inmap-primary: '#dd9933';

.inmap-map {
	min-height: 300px;
	
	.inmap-marker-icon {
// 		width: 20px !important;
// 		height: 20px !important;		
		text-align: center;
		border-radius: 50%;
		background: @inmap-primary;
	}
}